<div id="selecao-produto">	
  <fieldset>
    <legend>Produto</legend>
	<p>	
		<div id="selecao-produto-quantidade-item">		
			<label for="compras_quantidade_item">Quantidade:</label>
			<%= text_field 'compras', 'quantidade_item', :maxlength => 3, :value => 1%>
		</div>
		<div id="selecao-produto-busca-item-descricao">
			<label for="compras_novo_item">Produto:</label>
			<%= text_field 'compras', 'novo_item' %>
		</div>
		<div id="selecao-produto-busca-item-codigo-barras">
			<% form_remote_tag :url => { :action => "adiciona_produto_lista_compras"}, 
				:condition => "jQuery(\"#compras_codigo_barras_item\").value != '';" do -%>
					<label for="compras_codigo_barras_item">Cod Barras:</label>
					<%= text_field 'compras', 'codigo_barras_item' %>
					<%= submit_tag 'Create' %>
			<% end -%>
		
		</div>	
	</p>
	<div class="auto_complete" id="compras_novo_item_auto_complete"></div>
	<%= auto_complete_field :compras_novo_item, :url=>{:action=>'autocomplete_novo_item'},:after_update_element => "function(element,value){"+remote_function(:url => { :action => :adiciona_produto_lista_compras }, :with=>"'descricao_item='+element.value")+"; jQuery(\"#compras_quantidade_item\").val(\"1\"); jQuery(\"#compras_novo_item\").val(\"\"); jQuery(\"#compras_quantidade_item\").focus().select();}" %>
  </fieldset>
</div>

<div id="listagem-compras">
<%= render :partial => 'listagem_compras' %>
</div>