<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#filtro_data_inicial").datepicker({ dateFormat: 'dd/mm/yy' });
		jQuery("#filtro_data_inicial").datepicker('option', 'monthNames', ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']);
		jQuery("#filtro_data_inicial").datepicker('option', 'dayNamesMin', ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']);
		
		jQuery("#filtro_data_final").datepicker({ dateFormat: 'dd/mm/yy' });
		jQuery("#filtro_data_final").datepicker('option', 'monthNames', ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']);
		jQuery("#filtro_data_final").datepicker('option', 'dayNamesMin', ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']);
		
		jQuery("#filtro_data_vencimento_inicial").datepicker({ dateFormat: 'dd/mm/yy' });
		jQuery("#filtro_data_vencimento_inicial").datepicker('option', 'monthNames', ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']);
		jQuery("#filtro_data_vencimento_inicial").datepicker('option', 'dayNamesMin', ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']);
		jQuery("#filtro_data_vencimento_final").datepicker({ dateFormat: 'dd/mm/yy' });
		jQuery("#filtro_data_vencimento_final").datepicker('option', 'monthNames', ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']);
		jQuery("#filtro_data_vencimento_final").datepicker('option', 'dayNamesMin', ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']);		
	});
</script>

<% form_remote_tag :url=>{:action=>'por_filtro'} do-%>
<div>
  <%=check_box("filtro", "data")%>
  Data:
  <%=text_field 'filtro', 'data_inicial', :size => 8 %>
  a
  <%=text_field 'filtro', 'data_final', :size => 8 %>
</div>
<div>
  <%=check_box("filtro", "data_vencimento")%>
  Data Vencimento Lançamento:
  <%=text_field 'filtro', 'data_vencimento_inicial', :size => 8 %>
  a
  <%=text_field 'filtro', 'data_vencimento_final', :size => 8 %>
</div>
<div>
  <%=check_box("filtro", "forma_de_pagamento")%>
  Forma de Pagamento:
  <%= select("filtro", "forma_de_pagamento_id", FormaDePagamento.find(:all).collect {|forma_de_pagamento| [forma_de_pagamento.nome, forma_de_pagamento.id]}, { :prompt => "-- Selecionar --"}) %>
</div>
<div>
  <%=check_box("filtro", "centro_de_custo")%>
  Centro de Custo:
  <%= select("filtro", "centro_de_custo_id", CentroDeCusto.find(:all).collect {|centro_de_custo| [centro_de_custo.nome, centro_de_custo.id]}, { :prompt => "-- Selecionar --"}) %>
</div>
<div><%= submit_tag 'Buscar' %><% end %><%= button_to "Excel", :action => 'exportar_excel.xls' %></div>