<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery("#compra_data").datepicker({ dateFormat: 'dd/mm/yy' });
	jQuery("#compra_data").datepicker('option', 'monthNames', ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']);
	jQuery("#compra_data").datepicker('option', 'dayNamesMin', ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']);

</script>

<div id="formulario-cadastro">
<h1>Nova Compra</h1>
<% form_for(@compra) do |form| %>
  <%= form.error_messages %>
  <fieldset>
    <legend>Dados Lançamento</legend>
    <div>
      <%= form.label :centro_de_custo_id, "Centro de Custo:" %>
		<%=
		form.select :centro_de_custo_id,
		    CentroDeCusto.find(:all).collect {|centro_de_custo| [centro_de_custo.nome, centro_de_custo.id]},
		    :prompt => "-- Selecionar --",
		    :selected => @compra.centro_de_custo_id
		%>
    </div>
	<div>
      <%= form.label :data, "Data:" %>
	  <%= form.text_field :data , :size => 8 %>
    </div>
    <div>
      <%= form.label :fornecedor, "Fornecedor:" %>
      <%= form.text_field :fornecedor, :size => 50 %>
    </div>
    <div>
      <%= form.label :numero_nota_fiscal, "Nota Fiscal:" %>
      <%= form.text_field :numero_nota_fiscal, :size => 50 %>
    </div>
  </fieldset>
  <p>
    <%= form.submit "Salvar" %>
  </p>
<% end %>
<%= link_to 'Exibir', @compra %> |
<%= link_to 'Voltar', compras_path %>
</div>