<div id="listagens-caixa-letras">
	<%= link_to_remote "TODOS", :url => { :controller => "produtos", :action => "por_letra" }	-%>
	<%= link_to_remote "a", :url => { :controller => "produtos", :action => "por_letra", :letra => "a" }	-%>
	<%= link_to_remote "b", :url => { :controller => "produtos", :action => "por_letra", :letra => "b" }	-%>
	<%= link_to_remote "c", :url => { :controller => "produtos", :action => "por_letra", :letra => "c" }	-%>
	<%= link_to_remote "d", :url => { :controller => "produtos", :action => "por_letra", :letra => "d" }	-%>
	<%= link_to_remote "e", :url => { :controller => "produtos", :action => "por_letra", :letra => "e" }	-%>
	<%= link_to_remote "f", :url => { :controller => "produtos", :action => "por_letra", :letra => "f" }	-%>
	<%= link_to_remote "g", :url => { :controller => "produtos", :action => "por_letra", :letra => "g" }	-%>
	<%= link_to_remote "h", :url => { :controller => "produtos", :action => "por_letra", :letra => "h" }	-%>
	<%= link_to_remote "i", :url => { :controller => "produtos", :action => "por_letra", :letra => "i" }	-%>
	<%= link_to_remote "j", :url => { :controller => "produtos", :action => "por_letra", :letra => "j" }	-%>
	<%= link_to_remote "k", :url => { :controller => "produtos", :action => "por_letra", :letra => "k" }	-%>
	<%= link_to_remote "l", :url => { :controller => "produtos", :action => "por_letra", :letra => "l" }	-%>
	<%= link_to_remote "m", :url => { :controller => "produtos", :action => "por_letra", :letra => "m" }	-%>
	<%= link_to_remote "n", :url => { :controller => "produtos", :action => "por_letra", :letra => "n" }	-%>
	<%= link_to_remote "o", :url => { :controller => "produtos", :action => "por_letra", :letra => "o" }	-%>
	<%= link_to_remote "p", :url => { :controller => "produtos", :action => "por_letra", :letra => "p" }	-%>
	<%= link_to_remote "q", :url => { :controller => "produtos", :action => "por_letra", :letra => "q" }	-%>
	<%= link_to_remote "r", :url => { :controller => "produtos", :action => "por_letra", :letra => "r" }	-%>
	<%= link_to_remote "s", :url => { :controller => "produtos", :action => "por_letra", :letra => "s" }	-%>
	<%= link_to_remote "t", :url => { :controller => "produtos", :action => "por_letra", :letra => "t" }	-%>
	<%= link_to_remote "u", :url => { :controller => "produtos", :action => "por_letra", :letra => "u" }	-%>
	<%= link_to_remote "v", :url => { :controller => "produtos", :action => "por_letra", :letra => "v" }	-%>
	<%= link_to_remote "w", :url => { :controller => "produtos", :action => "por_letra", :letra => "w" }	-%>
	<%= link_to_remote "x", :url => { :controller => "produtos", :action => "por_letra", :letra => "x" }	-%>
	<%= link_to_remote "y", :url => { :controller => "produtos", :action => "por_letra", :letra => "y" }	-%>	
	<%= link_to_remote "z", :url => { :controller => "produtos", :action => "por_letra", :letra => "z" }	-%>
</div>