<p>
  <b>Descricao:</b>
  <%=h @produto.descricao %>
</p>

<p>
  <b>Fabricante:</b>
  <%=h @produto.fabricante %>
</p>

<p>
  <b>Referencia fabricante:</b>
  <%=h @produto.referencia_fabricante %>
</p>

<p>
  <b>Referencia:</b>
  <%=h @produto.referencia %>
</p>

<p>
  <b>Codigo barras:</b>
  <%=h @produto.codigo_barras %>
</p>

<p>
  <b>Estoque minimo:</b>
  <%=h @produto.estoque_minimo %>
</p>

<p>
  <b>Estoque maximo:</b>
  <%=h @produto.estoque_maximo %>
</p>

<p>
  <b>Valor venda:</b>
  <%= number_to_currency(@produto.valor_venda, :unit => "$") %>
</p>

<p>
  <b>Unidade venda:</b>
  <%=h @produto.unidade_venda %>
</p>


<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
