<div id="exibicao_propriedade">
  <div class="label">Descricao:</div>
  <div class="propriedade"><%=h @produto.descricao %></div>
</div>
<div id="exibicao_propriedade">
  <div class="label">Unidade venda:</div>
  <div class="propriedade"><%=h @produto.unidade_venda.nome %> (<%=h @produto.unidade_venda.sigla %>)</div>
</div>
<div id="exibicao_propriedade">
  <div class="label">Valor venda:</div>
  <div class="propriedade"><%= number_to_currency(@produto.valor_venda, :unit => "R$", :separator => ",", :delimiter => ".") -%></div>
</div>
<div id="exibicao_propriedade">
  <div class="label">Codigo barras:</div>
  <div class="propriedade"><%=h @produto.codigo_barras %></div>
</div>
<div id="exibicao_propriedade">
  <div class="label">Fabricante:</div>
  <div class="propriedade"><%=h @produto.fabricante %>2</div>
</div>
<div id="exibicao_propriedade">
  <div class="label">Referência Fabricante:</div>
  <div class="propriedade"><%=h @produto.referencia_fabricante %></div>
</div>
<div id="exibicao_propriedade">
  <div class="label">Estoque minimo:</div>
  <div class="propriedade"><%=h @produto.estoque_minimo %></div>
</div>
<div id="exibicao_propriedade">
  <div class="label">Estoque maximo:</div>
  <div class="propriedade"><%=h @produto.estoque_maximo %></div>
</div>
<br/><br/>
<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
