<script type="text/javascript">
	jQuery(function() {
		$("#data").datepicker();
	});
</script>

<div id="formulario-cadastro">
<h1>Novo Lancamento</h1>
<% form_for(@lancamento_compra) do |form| %>
  <%= form.error_messages %>
  <fieldset>
    <legend>Dados Lançamento</legend>
    <div> 
      <%= form.label :tipo_credito_debito, "Crédito/Débito:" %>
	  <%= 
		form.select :tipo_credito_debito, { "Débito" => "D", "Crédito" => "C"}, :selected => "D", :disabled => "C"
	  %>
	</div>
    <div>
      <%= form.label :centro_de_custo_id, "Centro de Custo:" %>
		<%=
		form.select :centro_de_custo_id,
		    CentroDeCusto.find(:all).collect {|centro_de_custo| [centro_de_custo.nome, centro_de_custo.id]},
		    :prompt => "-- Selecionar --",
		    :selected => @lancamento_compra.centro_de_custo_id
		%>
    </div>
    <div>
      <%= form.label :forma_de_pagamento_id, "Forma de Pagamento:" %>
		<%=
		form.select :forma_de_pagamento_id,
		    FormaDePagamento.find(:all).collect {|forma_de_pagamento| [forma_de_pagamento.nome, forma_de_pagamento.id]},
		    :prompt => "-- Selecionar --",
		    :selected => @lancamento_compra.forma_de_pagamento_id
		%>
    </div>	
	<div>
      <%= form.label :data, "Data:" %>
	  <%= form.text_field :data %>
    </div>
	<div>
      <%= form.label :data_de_vencimento, "Data de Vencimento:" %>
	  <%= form.text_field :data_de_vencimento %>
    </div>
	<div>
      <%= form.label :valor, "Valor:" %>
      <%= form.text_field :valor, :size => 5 %>
    </div>
    <div>
      <%= form.label :fornecedor, "Fornecedor:" %>
      <%= form.text_field :fornecedor, :size => 50 %>
    </div>
    <div>
      <%= form.label :numero_nota_fiscal, "Nota Fiscal:" %>
      <%= form.text_field :numero_nota_fiscal, :size => 50 %>
    </div>
    <div>
      <%= form.label :descricao, "Descrição:" %>
      <%= form.text_area :descricao, :cols => 52, :rows => 6 %>
    </div>
  </fieldset>
  <p>
    <%= form.submit "Salvar" %>
  </p>
<% end %>
<%= link_to 'Exibir', @lancamento_compra %> |
<%= link_to 'Voltar', lancamento_compras_path %>
</div>