<p>
  <b>Valor:</b>
  <%=h @lancamento_compra.valor %>
</p>

<p>
  <b>Data:</b>
  <%=h @lancamento_compra.data %>
</p>

<p>
  <b>Forma de pagamento:</b>
  <%=h @lancamento_compra.forma_de_pagamento_id %>
</p>

<p>
  <b>Centro de custo:</b>
  <%=h @lancamento_compra.centro_de_custo_id %>
</p>

<p>
  <b>Tipo lancamento:</b>
  <%=h @lancamento_compra.tipo_credito_debito %>
</p>


<%= link_to 'Edit', edit_lancamento_compra_path(@lancamento_compra) %> |
<%= link_to 'Back', lancamento_compras_path %>
