<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>IXCA Gourmet - Loja</title>
  <%= stylesheet_link_tag 'gourmet' %>
  <%= stylesheet_link_tag 'jquery-ui-1.7.1.custom.css'%>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.hotkeys.js" %>
  <%= javascript_include_tag "jquery-ui-1.7.1.custom.min.js" %>
  <script>jQuery.noConflict();</script>
  <%= javascript_include_tag "loja.js" %>
  <%= javascript_include_tag :defaults %>
</head>

<body id="principal">
	<div id="banner">
		<%= image_tag("logo_grape.png") %>
	    <%= @page_title || "IXCA Gourmet" %>
	</div>
	<div id="loja">
		<div id="notice">
		  <% if flash[:notice] then -%>
        	<%= flash[:notice] -%>
		  <% else -%>
			M
      	  <% end -%>
		</div>
		<%= yield :layout -%>
	</div>
</body>
</html>
